@import "~bootstrap/scss/bootstrap";

.form {
  padding:1em;
      //  display: flex;
       justify-content: start;

}
.uper-table{
  justify-content: space-between;
}

// .pagination .react-bootstrap-table-page-btns-ul { float: right!important }

.react-bootstrap-table-pagination{
  // position: fixed;
  bottom: 1px;
  // width: 55%;
}

