@import "~bootstrap/scss/bootstrap";

span{
  &.-require{
    color: red;
  }
}

.form {
  padding:1em;
      //  display: flex;
       justify-content: start;

}
.uper-table{
  justify-content: space-between;
}

// .pagination .react-bootstrap-table-page-btns-ul { float: right!important }

.react-bootstrap-table-pagination{
  // position: fixed;
  bottom: 1px;
  // width: 55%;
}

.fn-table{
  justify-content: center;
}

.btn{
  justify-content: space-evenly;
  &.btn{
    font-weight: 600;
    &-primary{
      color: black;
      background-color: white;
      border-color: black;
      &:hover{
        color: white;
        background-color: black;
        border-color: black;
      }
    }
    &-danger{
      color: red;
      background-color: white;
      border-color: red;
      &:hover{
        color: white;
        background-color: red;
        border-color: red;
      }
    }
    &-success{
      color: green;
      background-color: white;
      border-color: green;
      &:hover{
        color: white;
        background-color: green;
        border-color: green;
      }
    }
  }

}

.react-tel-input{
  .form-control{
    width: 100%  !important;
  }
}